@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-secondary: #8b5cf6;
  --color-dark: #0f172a;
  --color-darker: #020617;
}

body {
  @apply bg-dark text-slate-200 antialiased;
}
